@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;1,300;1,400;1,500&family=Ubuntu:ital,wght@1,300;1,400;1,500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
/*Navbar Styling*/
.navbar{
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 40px 0;
    background-color:rgb(248, 85, 85);
    font-family: 'Ubuntu', sans-serif;
}
.navbar.sticky{
    padding: 30px 0;
    background: red;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    color:black;
    font-size: 35px;
    font-weight: 600;
}
.navbar .logo a span{
     color:white;

}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    color:black;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}
.navbar .menu li a:hover{
    color:whitesmoke;
}

/*Home Section styling*/
.home{
    display: flex;
    height: 100vh;
    color:whitesmoke;
    background-color: black;
    min-height: 500px;
    font-family: 'Ubuntu', sans-serif;
}
.home .max-width{
    margin: auto 0 auto 40px;
}
.home .home-content .text-1{
    font-size: 27px;
}
.home .home-content .text-2{
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}
.home .home-content .text-3{
    font-size: 40px;
    margin: 5px 0;
}
.home .home-content .text-3 span{
    color:red;
    font-weight: 500;
}
.home .home-content a{
    display: inline-block;
    background: red;
    color: black;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    border-radius: 10px;
    border: 2px solid red;
    transition: all 0.3s ease;

}
.home .home-content a:hover{
    color: red;
    background: none;
}

/*all similar styling*/
section{
    padding: 100px 0;
}
.about, .skills, .contact{
    font-family: 'Ubuntu', sans-serif;
}
.about .about-content, 
.skills .skills-content,
.contact .contact-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
section .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}
section .title::before{
    content: "";
    position: absolute;
    bottom:  0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: black;
    transform: translateX(-50%);
}
section .title::after{
    position: absolute;
    bottom:  -12px;
    left: 50%;
    font-size: 20px;
    color: crimson;
    padding: 5px;
    background:white;
    transform: translateX(-50%);
}

/*about section styling*/

.about .title::after{
    content: "Who I Am";
}

.about .about-content .left{
    width: 45%;
}
.about .about-content .left img{
    height: 300px;
    width: 400px;
    object-fit: cover;
    border-radius: 6px;
}
.about .about-content .right{
    width: 55%;
}
.about .about-content .right .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}
.about .about-content .right .text span{
    color: red;
}
.about .about-content .right p{
    text-align: justify;
}
/*skills section styling*/
.skills .title::after{
    content: "What I Know";
}
.skills .skills-content .column{
    width: calc(50% - 30px);
}
.skills .skills-content .left .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.skills .skills-content .left p{
    text-align: justify;
}
.skills .skills-content .right .bars{
    margin-bottom: 15px;
}
.skills .skills-content .right .info{
    display: flex;
    margin-bottom: 5px;
    align-items: center;
    justify-content: space-between;
}
.skills .skills-content .right span{
    font-weight: 500;
    font-size: 18px;
}
.skills .skills-content .right .line{
    height: 5px;
    width: 100%;
    background: lightgrey;
    position: relative;
}
.skills .skills-content .right .line::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 80%;
    left: 0;
    top: 0;
    background: crimson;
}
.skills .skills-content .right .html::before{
    width: 80%;
}
.skills .skills-content .right .css::before{
    width: 55%;
}
.skills .skills-content .right .javascript::before{
    width: 30%;
}
.skills .skills-content .right .python::before{
    width: 50%;
}
.skills .skills-content .right .php::before{
    width: 30%;
}
.skills .skills-content .right .mysql::before{
    width: 60%;
}

/*contact section styling*/

.contact .title::after{
    content: "Get In Touch";
}
.contact .contact-content .column{
    width: calc(50% -30px);
}
.contact .contact-content .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.contact .contact-content .left p{
    text-align: justify;
}
.contact .contact-content .left .icons{
    margin: 10px 0;
}
.contact .contact-content .row{
    display: flex;
    height: 65px;
    align-items: center;
}
.contact .contact-content .row .info{
    margin-left: 30px;
}
.contact .contact-content .row i{
    font-size: 25px;
    color: red;
}
.contact .contact-content .info .head{
    font-weight: 500;
}
.contact .contact-content .info .sub-title{
    color: red;
}

